@tailwind base;
@tailwind components;
@tailwind utilities;


html {
    scroll-behavior: smooth;
}

* {
    caret-color: transparent;
}

body {
    scrollbar-width: thin;
    scrollbar-color: #008fff #ffffff;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: #ffffff;
}

::-webkit-scrollbar-thumb {
    background: #008fff;
    border-radius: 10px;
}
